<div class="dialogComponent">
    <div class="dialogOverlay"></div>
    <div id="{{ DialogName }}" class="modal">
    <div class="modal-dialog">
        <form class="addAnnotationForm" (ngSubmit)="onAddAnnotation()" #addAnnotationForm="ngForm">   
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="onHideDialog()">&times;</button>
                    <h4 class="modal-title"><b>{{ Title }}</b></h4>
                </div>
                <div class="modal-body">
                     <div class="form-group">
                        <label class="control-label" for="inputLarge">Contenido de la anotacion:</label>
                        <textarea maxlength="200" rows="4" ngControl="message" #annotationTextArea required [(ngModel)]="Annotation.message" class="form-control" id="annotationTextarea"></textarea>
                     </div>
                     <div class="annotationRemainingChars">Caracteres restantes: {{ MaxChars - annotationTextArea.value.length }}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" (click)="onHideDialog()">Cancelar</button>
                    <button type="submit" class="btn btn-success btn-sm" [disabled]="!addAnnotationForm.form.valid">Anadir</button>
                </div>
            </div>
        </form>
    </div>
</div>